body{ color:#FFFFFF; font-size:12px; font-family:Tahoma, Geneva, sans-serif; padding:0px; margin:auto}

#header{ margin:auto; width:1000px; background:url(images/bghead.png) bottom no-repeat; height:140px}
#lefttopmenu{float:left ; width:500px}
#lefttopmenu .search{float:left ; margin-left:15px ; margin-top:20px}
.input{ float:left; color:#b1b1b1; width:250px; background:url(images/bgs.jpg); border:none; height:29px;-moz-border-radius:7px 0px 0px 7px;-webkit-border-radius:7px 0px 0px 7px;border-radius:7px 0px 0px 7px;behavior:url(PIE.htc); outline:none }
.sm{ float:left; width:35px; height:31px; background:url(images/bgsm.jpg); border:none}
.select{float: left ; height:31px ; margin-left: 10px; width:120px}
#topmenu{ float:right; width:500px}
#topmenu .boxmenu{ float:right; margin-left:18px; text-align:center; width:63px; height:92px; background:url(images/bg_topmenu.png); border-top:solid 4px #ffffff}
#topmenu .boxmenu:hover{background:#FFF; color:#000;}
#topmenu a{color:#FFF}
#topmenu a:hover{color:#000}

#home{ margin:auto; width:1000px; padding-top:10px;}
#main{ float:right; width:750px;}
#boxslide
#boxcategory .image img{width:190px; height:110px; border:0px}
#boxcategory .cate2{ float:left; width:200px}
#boxcategory .cate2 ul{ list-style:none; margin:auto; padding:0px}
#boxcategory .cate2 ul li{ margin-top:10px;}
#boxcategory .cate2 ul li a{ color:#000; background:url(images/pointbronze.png) top left no-repeat; display:block; padding-left:18px}
#boxcategory .cate2 ul li a:hover{color:#dd0000; background:url(images/pointbronze.png) top left no-repeat}
{ float:left; width:730px; height:300px}
#boxcategory{ float:left; width:200px; margin-top:30px; margin-right:75px}
#boxcategory .name{ float:left; width:200px; text-align:center; padding-bottom:10px;}
#boxcategory .name a{ color:#000; font-weight:bold; font-size:13px;}
#boxcategory .name a:hover{ color:#dd0000}
#boxcategory .image{ float:left; width:190px; height:110px; background:url(images/bgimag.jpg); padding:5px 5px 5px 5px}
#boxcategory .image:hover{background:#3F0}


#left{ float:left; width:230px;}


#nameca{ float:left; width:229px; height:50px; background:url(images/bgca1.png); text-align:center;}
#nameca a{ display:block; color:#000; font-weight:bold; padding-top:20px ; font-size:15px}
#contentca{ float:left; width:226px; border:solid 1px #008000 ;}
#contentca .cttop{ width:226px; float:left; background:#FFF}
#contentca .content{ margin:auto; width:180px; padding-bottom:10px}
#contentca .content ul{ margin:auto; padding:0px; list-style:none}
#contentca .content ul li a{ color:#000; font-size:15px; padding-left:20px; padding-top:2px}
#contentca .content ul li{ margin-top:5px; border-top:dashed 1px #4c4c4c; padding-top:10px; padding-bottom:5px}
#contentca .content ul li a:hover{}


#namehot{ float:left; width:229px; height:50px; background:url(images/bgca1.png); text-align:center; margin-top:10px}
#namehot a{ display:block; color:#000; font-weight:bold; padding-top:20px ; font-size:15px}
#contenthot{ float:left; width:226px; border:solid 1px #008000}
#contenthot .cttop{ width:226px;  float:left; background:#fff
}
#contenthot .content{ margin:auto; width:220px; }
#contenthot .content img{ border:solid 1px #000}
#contenthot .content img:hover{border:solid 1px #FFF}




#captionnews{ float:left; width:740px; border-bottom:solid 2px #12ac3a; margin-top:10px; color:#333}
#contentnews{ float:left; width:740px; padding-top:10px}
#ft{ width:100%; padding-bottom:10px; border-top:solid 2px #3a3a3a; border-bottom:solid 2px #000; top repeat-x #1c1c1c; margin-top:10px; }
#ft .left{ float:left; width:550px;}
#ft .left ul{ margin:auto; padding:0px; list-style:none}
#ft .left ul li{ float:left; padding-left:5px; padding-right:5px}
#ft .left ul li a{ color:#003687}
#ft .right{ float:right; width:400px; text-align:right; color:#003687}
a{ text-decoration:none}
a:hover{text-decoration:underline}
